textarea{
width:100%;
resize:none;
overflow:hidden;
min-height:60px;
}

.service-desc{
margin-top:10px;
}

/* NOTLAR TABLO */
.notes-table{
width:100%;
border-collapse:collapse;
margin-top:20px;
page-break-inside:auto;
}

.notes-table caption{
background:#0f2f4f;
color:#fff;
font-weight:bold;
padding:6px;
}

.notes-table td{
border:1px solid #999;
padding:6px;
font-size:12px;
}

/* PRINT */
@media print{

@page{size:A4;margin:12mm;}

body{
-webkit-print-color-adjust:exact;
print-color-adjust:exact;
}

textarea,
input,
select{
border:none;
outline:none;
}

.desc{display:none;}

.desc-print{
display:block;
white-space:pre-wrap;
font-size:11px;
margin-bottom:10px;
}

.full-table,
.notes-table{
page-break-inside:auto;
}

tr{
page-break-inside:avoid;
}

.signatures{
page-break-inside:avoid;
}

.signature-box{
border:1px solid #000;
}

}
